all:
    children:
        manager:
            hosts:
                server:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
        agent:
            hosts:
                agent-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.1
                    ansible_port: 22
